.header {
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: cornflowerblue;
  color: white;
  font-size: xx-large;
}

.header-text {
  margin-left: 45%;
}

.header-language-button {
  background-color: firebrick;
  font-size: medium;
  color: white;
  cursor: pointer;
  width: 75px;
  height: 32px;
  border-radius: 10%;
  margin-right: 5%;
}